body{
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;

	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #000;
	text-transform: uppercase;

	}


a {
	text-decoration: none;
	color: inherit;
	/*font: inherit;*/
}


/* index.html */

.main-promo {
	font-size: 0px;

	position: relative;
	left: 0;
	top: 0;
	padding: 0;
	height: 508px;
	width: 1200px;

	background-color: #fff;
	background-image: url("img/index_background.jpg");
	background-size: 1200px 773px;
	background-position: center -56px;
	background-repeat: no-repeat;
}

.main-promo-welcome {
	position: relative;
	left: 370px;
	/*top: 76px;*/
	top: 76px;
}


/*.main-promo::after {
	display: block;
	content: url("img/polygon.svg");
	width: 1202px;
	height: 59px;
	position: absolute;
	left: 0;
	bottom: -4px;
}*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
	font: inherit;

	text-align: center;
	color: #fff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #766357;
	border: none;
}

.button {
	font-weight: bold;
}

.button:hover,
.button:focus {
	background-color: #604e43;
}


.button:active {
	background-color: #503e33;
	color: rgba(255,255,255,0.3);
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;

	background-color: #fff;
}

.main-navigation ul {
	list-style: none;
}

.nav-menu-item a{
	font:inherit;
	color: #000;

	background-color: #fff;
}

.nav-menu-item a:hover,
.nav-menu-item a:focus {
	color: #a3c7de;
}

.nav-menu-item a:active {
	color: #cacaca;
}

.nav-menu-item.site-navigation-current a{
	color: #766357;
}
.nav-menu-item.site-navigation-current a:hover,
.nav-menu-item.site-navigation-current a:focus {
	color: #a3c7de;
}

.nav-menu-item.site-navigation-current a:active {
	color: #cacaca;
}

.big-slogan {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.features-preface {
	font-size: 14px;
	line-height: 26px;
	color: #333;
}

.search {
	background-color: #fff;

	text-align: center;
}

.search-slogan {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
}

.search-invitation {
	color: #333;
	font-size: 14px;
	line-height: 24px;
}

.show-search {
	font-size: 21px;
	line-height: 26px;
	padding: 35px 139px 33px;

}

.search-form label {
	font-size: 14px;
	font-weight: bold;

	line-height: auto;
}

.search-form-input {
	border: 0;
	font-size: 14px;
	font-weight: bold;
	text-transform: inherit;

	line-height: 26px;

	background-color: #f2f2f2;

}

.search-form-input:hover {
	background-color: #e8e8e8;
}

.search-form-input:active,
.search-form-input:focus {
	background-color: #fff;
	border: 2px solid #e5e5e5;
}

.button.blue {
	color: #fff;
	background-color: #81b3d2;
}

.button.blue:hover,
.button.blue:focus {
	background-color: #669ec0;
}

.button.blue:active {
	background-color: #5496bd;
	color: rgba(255,255,255,0.3);
}


.search-form button[type="submit"] {
	width: 458px;
	height: 58px;

	font-size: 21px;
	line-height: 26px;
}

.main-footer {
	color: #000;

	background-color: #fff;
	
	opacity: 0.9;
}

.main-footer .contacts {
	font-size: 21px;
	font-weight: bold;

	line-height: 26px;

}

.social-buttons-list {
	list-style: none;
}

.copyright {
	font-size: 14px;
	line-height: 26px;

	text-align: center;

	color: #000;

	background-color: #fff;
}

/* страница отели hotels.html */
.search-results-main-list {
	list-style: none;
}

.search-results-main-list .hotel-link {
	font-size: 21px;
	line-height: 26px;

	color: #000;
}

.search-results-main-list .hotel-link:hover,
.search-results-main-list .hotel-link:focus {
	color: #81b3d2;
}

.search-results-main-list .hotel-link:active {
	color: rgba(0,0,0,0.3);
}

.search-results-item {
	font-size: 14px;
	line-height: 21px;
}
.search-results-item .category,
.search-results-item .price {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.rating {
	color: #666;
	background-color: #f2f2f2;
}